@import 'src/vars';
.form-row {
    width: 500px;
    font-size: 12px;
}

.check-number {
    margin-right: 50px;
}

.memo-input {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
}

.delete-button {
    color: color-danger()
}