@import 'src/vars';
.form-row {
    font-size: 12px;
    
    mat-form-field {
        margin-right: 5rem;
    }
}

.memo-input {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
}

.delete-button {
    color: color-danger()
}