<html>
    <body>
        <h3>{{formTitle}}</h3>
        <form>
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Vendor Name</mat-label>
                    <input
                        matInput
                        placeholder="Vendor Name"
                        (change)="change($event, 'vendor')"
                        [required]="true"
                        [disabled]="this.disableInput"
                        [value]="contract.vendor.vendor_name"
                        (blur)="change($event, 'vendor')"
                    >
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input 
                        matInput
                        [matDatepicker]="picker"
                        (change)="change($event, 'contract_date')"
                        [required]="true"
                        [disabled]="this.disableInput"
                        [value]="contract.contract_date"
                        (blur)="change($event, 'contract_date')"
                    >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>End date</mat-label>
                    <input 
                        matInput
                        [matDatepicker]="picker"
                        (change)="change($event, 'contract_end_date')"
                        [required]="true"
                        [disabled]="this.disableInput"
                        [value]="contract.contract_end_date"
                        (blur)="change($event, 'contract_end_date')"
                    >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input
                        matInput
                        placeholder="Amount"
                        (change)="change($event, 'amount')"
                        [required]="true"
                        [disabled]="this.disableInput"
                        [value]="contract.amount"
                        (blur)="change($event, 'amount')"
                    >
                </mat-form-field>
            </div>

            <div class="memo-input">
                <mat-form-field appearance="outline">
                    <mat-label>Conditions</mat-label>
                    <input 
                        matInput 
                        placeholder="Conditions"
                        (change)="change($event, 'condition')"
                        [required]="false"
                        [disabled]="this.disableInput"
                        [value]="contract.condition"
                        (blur)="change($event, 'condition')"
                    >
                </mat-form-field>
            </div>         
            
            <div class="memo-input">
                <mat-form-field appearance="outline">
                    <mat-label>Notes/Memo</mat-label>
                    <input 
                        matInput 
                        placeholder="Notes/Memo"
                        (change)="change($event, 'memo')"
                        [required]="false"
                        [disabled]="this.disableInput"
                        [value]="contract.memo"
                        (blur)="change($event, 'memo')"
                    >
                </mat-form-field>
            </div>

            <div class="button-row">
                <button *ngIf="!this.disableInput" mat-flat-button mat-dialog-close color="primary" type="submit" (click)="contractAction()">{{this.formTitle}}</button>
                <button *ngIf="this.disableInput" mat-flat-button color="primary" type="submit" (click)="changeForm('update')">Update Contract</button>
            </div>
        </form>
    </body>
</html>