<div
[ngClass]="{
  success: color === 'success',
  danger: color === 'danger',
  warning: color === 'warning',
  accent: color === 'accent',
  gray: color === 'gray'
}"
>
    <h5>{{ title }}</h5>
    <p>{{ message }}</p>
    <div *ngIf="callbacks.length > 0" class="buttons">
    <app-button
        class="vcms-button"
        buttonSize="small"
        buttonStyle="{{ style }}"
        *ngFor="let callback of callbacks"
        (click)="performAction(callback.action)"
        >{{ callback.display }}</app-button>
    </div>
</div>