@import "../../../vars";

.accent {
  background: color-accent("lightest");
  color: color-gray(2);
  border: 2px solid color-accent("darker");
  padding: 10px;
  border-radius: 3px;
}

.success {
  background: color-success("lightest");
  color: color-gray(2);
  border: 2px solid color-success("darker");
  padding: 10px;
  border-radius: 3px;
}

.danger {
  background: color-danger("lightest");
  color: color-gray(2);
  border: 2px solid color-danger("darker");
  padding: 10px;
  border-radius: 3px;
}

.warning {
  background: color-warning("lightest");
  color: color-gray(2);
  border: 2px solid color-warning("darker");
  padding: 10px;
  border-radius: 3px;
}

.gray {
  background: color-gray(7);
  color: color-gray(2);
  border: 2px solid color-gray(2);
  padding: 10px;
  border-radius: 3px;
}

p {
  margin: 5px 0 0 0;
  word-wrap: break-word;
}

.buttons {
  display: block;
  text-align: right;
  margin-top: 10px;

  .vcms-button {
    margin-left: 5px;
  }
}