<<<<<<< HEAD
.example-container{
    min-width: 1000px;
    min-height: 75px;
  }
=======
@import 'src/vars';
.example-container{
  min-width: 1000px;
  min-height: 75px;
}
.filterbutt {
  background-color: map-get($palette-dark, "default");
  margin-left: 2px;
}
.searchbutt {
  background-color: map-get($palette-main, "default");
  margin-left: 5px;
}
.createbutt {
  background-color: map-get($palette-main, "default");
  margin-left: 40px;
}
.editbutt{
  font-size: 14px;
}
.table {
  width: 100%;
}
>>>>>>> ef49c3e668fba636dac43250e601c5134058b03c
